body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.sidebar {
    width: 250px;
    background-color: #4285f4;
    color: white;
    padding: 20px;
    height: 110vh;
    border-right: 2px solid #ddd;
}
.sidebar h1 {
    margin: 0;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.sidebar ul li a:hover {
    color: #ffeb3b;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 5px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header button {
    padding: 10px 15px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover {
    background-color: #055fef;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding-top: 3px;
}
.day {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.date {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.date:hover {
    background-color: #f1f3f4;
}
.current-day {
    background-color: #4285f4;
    color: white;
}
.current-day:hover {
    background-color: #055fef;
}
.buttons {
    position: fixed;
    left: 200vh;
}
button {
    cursor: pointer;
}
.containerDays {
    display: flex;
    border-bottom: solid grey 1px;
    justify-content: space-around;
}