table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.edit-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn, .delete-btn {
    font-size: 15px;
}
.completed {
    color: green;
    font-weight: bold;
}

.not-completed {
    color: red;
    font-weight: bold;
}
